[Unit]
Description=NodeRenogy Service

[Service]
ExecStart=node-renogy
Restart=always
User=nobody
Group=nogroup
WorkingDirectory=/home/pi/NodeRenogy
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target