[Unit]
Description=NodeRenogy Service

[Service]
ExecStart=node-renogy
Restart=always
User=pi
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=pi
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/NodeRenogy     

[Install]
WantedBy=multi-user.target